#!/usr/bin/env bash

set -e

[ -f "/etc/vz/vz.conf"  ] || exit 1
[ -f "${VE_CONFFILE}"   ] || exit 1
[ -f "/etc/vz/rbd.conf" ] || exit 1
. "/etc/vz/vz.conf"
. "${VE_CONFFILE}"
. "/etc/vz/rbd.conf"

if test -e "${RBDPATH}"; then
	echo "RBD device already exists at devmap location: ${RBDPATH} - Unmapping..."
	if ! rbd unmap "${RBDPATH}"; then
		echo "Unmapping of RBD device failed"
		exit 2
	fi
fi

echo "Mapping RBD device"
if ! rbd -c /etc/ceph/ceph.conf --id "${RBDUSER}" -p "${RBDPOOL}" map "ve-${VEID}" > /dev/null; then
	echo "Failed to map RBD device ${RBDPOOL}/ve-${VEID}"
	exit 3
fi

if ! test -e "${RBDPATH}"; then
	echo "Mapped RBD device not existing at devmap location: ${RBDPATH}"
	exit 4
fi

echo "Un-mounting placeholder mount"
if ! umount "${VE_ROOT}"; then
	echo "Failed to unmount the old VE_ROOT=${VE_ROOT}"
	rbd unmap "${RBDPATH}"
	exit 5
fi

physicaldisk=$(readlink "${RBDPATH}" | sed 's!.*/!!')
blockdir="/sys/block/${physicaldisk}/queue/"

echo "Setting read-ahead=1024 on ${RBDPATH}"
if ! blockdev --setra 1024 "${RBDPATH}"; then
	echo "Failed to set read-ahead on ${RBDPATH}"
	mount -v -o ro -t tmpfs tmpfs "${VE_ROOT}" || true
	rbd unmap "${RBDPATH}"
	exit 6
fi

echo "Checking/Repairing filesystem"
if ! fsck.ext4 -yf "${RBDPATH}"; then
	echo "Re-checking filesystem"
	if ! fsck.ext4 -nf "${RBDPATH}"; then
		mount -v -o ro -t tmpfs tmpfs "${VE_ROOT}" || true
		rbd unmap "${RBDPATH}"
		exit 7
	fi
fi

echo "Mounting ${VE_ROOT}"
if ! mount -v -t ext4 -o noatime,nodiratime,errors=remount-ro,discard "${RBDPATH}" "${VE_ROOT}"; then
	echo "Failed to mount filesystem on ${VE_ROOT}"
	mount -v -o ro -t tmpfs tmpfs "${VE_ROOT}" || true
	rbd unmap "${RBDPATH}"
	exit 8
fi

echo "RBD mount done"